/**** Begin Page Body ****/

.page-body {
    height: 100%;
    
    &:after {
        clear:both;
    }
    
    /**** Begin Side Navigation ****/

    .side-navigation-menu {
        height: 100%;
        float:left;
        background-color:$side-nav-menu-bg-color;
        text-align: center;
        //overflow:hidden;
        
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        
        // Link
        a {
            display:block;
            width:100%;
            height: 100%;
            color: $side-nav-content-color;
            text-decoration: none;
            
            &:visited {
            }

            &:hover {
                color:$side-nav-content-color-hover;
            }

            &:active {
            }
        }
        
        .expand-collapse {
            width:100%;
            height: 100%;
            @include box-sizing();
            border-style: solid;
            border-top-style:none;
            border-left-style:none;
            @include to-rem(border-width, 0.0625);
            border-color: $side-border-color;
            @include to-rem(height, 4.25);
            padding-left: 5%;
            padding-right: 5%;
            
            .expand-collapse-button {
                //float:right;
                @include to-rem(width, 1.2);
                @height to-rem(height, 1.2);
                //width: 33%;
                //height: 33%;
                margin-left:auto;
                margin-right:auto;
                @include vertical-center();
            }
            
            .expand-collapse-icon {
                fill:$side-nav-content-color;
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
            }
            
            &:hover {
                cursor:pointer;
                .expand-collapse-icon {
                    fill:$side-nav-content-color-hover;
                }
            }
        }
        
        .page-link {
            width:100%;
            height: 100%;
            @include box-sizing();
            border-style: solid;
            border-top-style:none;
            border-left-style:none;
            @include to-rem(border-width, 0.0625);
            border-color: $side-border-color;
            @include to-rem(height, 4.25);
            padding-left: 5%;
            padding-right: 5%;
            
            // Make the extra content expand horizontally (to avoid visual jump).
            white-space: nowrap;
            
            .icon {
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
                height: 100%;
                i {
                    @include to-rem(font-size, 1.5);
                    @include vertical-center();
                }
            }

            .link-text{
                text-transform: uppercase;
                text-align:left;
                @include vertical-center();
                
                -webkit-transition-duration: 0s;
                transition-duration: 0s;
            }
        }

        .current {
            color:$side-nav-content-color-hover;
            background-color: $side-nav-content-bg-color-active;
            
            .icon-container {
                @include vertical-horizontal-center();
                // Background circle.
                border-radius: 50%;
                background-color: black;
                @include to-rem(width, 2.125);
                @include to-rem(height, 2.125);
                
                /** Adjustments to fit in background circle. **/
                // Customers
                .fa-tags {
                    @include to-rem(left, 0.0625);
                }
                // Dashboard
                .fa-dashboard {
                    left:0;
                    top:38%;
                }
                // Products
                .fa-cubes {
                    left: 2%;
                    top: 45%;
                }
                // Partners
                .fa-building {
                    left:4%;
                }
                // Orders and Customers are fine.
            }
        }
    }

    .collapsed {
        //@include to-rem(width, 6.125);
        width:8%;
        
        /*.page-link {
            overflow:hidden;
        }*/
        .link-text {
            visibility:hidden;
        }
        
        .open-nav {
            display:block;
        }
        
        .close-nav {
            display:none;
        }
    }

    .expanded {
        //@include to-rem(width, 18.44);
        width:24.5%;
        
        .icon {
            float:left;
            width:25%;
        }
        
        .expand-collapse {
            
            .expand-collapse-button {
                float:right;
                @include to-rem(width, 1.75);
                //width: 17.5%;
                //height: 33%;
                margin-right:7.5%;
            }
            -webkit-transition-delay: 0.75s;
            transition-delay: 0.75s;
        }
        
        .page-link {
            .link-text {
                // Transition delay.
                -webkit-transition-duration: 0.25s;
                transition-duration: 0.25s;
                visibility:visible;
            }
        }
        
        .open-nav {
            display:none;
        }
        
        .close-nav {
            display:block;
        }
    }

    /**** End Side Navigation ****/
    
    /**** Begin Main Content ****/
    
    .shifted-body {
        height:100%;
        overflow-y:scroll;
        position:relative;
        background-color:$background-color;
        
       /* &:after {
            display:block;
            clear:both;
        }*/
    
        .main-content {
            background-color: $background-color;
            margin-left:auto;
            margin-right:auto;
            height: 100%;
            @include to-rem(min-width, 56.63);
            max-width: 75%;

            .content-header {
                position: relative;
                @include to-rem(min-height, 3.125);
                @include to-rem(margin-top, 1.25);

                .column {
                    @include to-rem(height, 3.125);
                    width:30.35%;
                }
                
                .grid-aligned-column {
                    position:absolute;
                }
                
                .left-column {
                    position:relative;
                    float:left;
                    margin-left: 2.25%;
                }
                
                .right-column {
                    position:relative;
                    float:right;
                    margin-right: 2.25%;
                }

                .content-title {
                    @include vertical-center();
                }
                
                .widget-dropdown {
                    z-index:1000;
                    height:100%;
                }

                .add-widget{
                    height:100%;
                    @include to-rem(border-width, 0.1);
                    border-color: #AAA;
                    border-style: solid;
                    text-align: center;
                    cursor:pointer;
                    
                    &:hover {
                        background-color:$side-nav-content-color-hover;
                    }
                    
                    @include vertical-horizontal-center();
                    
                    .widget-text {
                        @include vertical-center();
                    }

                    .dropdown-list {
                        height: 100%;
                        width: 100%;
                        @include vertical-horizontal-center();
                        
                        -webkit-transition-duration: 0.5s;
                        transition-duration: 0.5s;
                        
                        .dropdown-triangle {
                            display:none;
                            
                            svg {
                                width:25%;
                            }
                        }
                        
                        .dropdown-menu {
                            -webkit-transition-duration: 0.5s;
                            transition-duration: 0.5s;
                        }
                        
                        .open {
                            display:block;
                        }
                        
                        button {
                            width: 100%;
                            height: 100%;
                            border: none;
                            border-radius: 0;
                            
                            /*background-color: $background-color;
                            
                            &:hover {
                                background-color:$side-nav-content-color-hover;
                            }*/
                            
                            background-color: transparent;
                        }
                        
                        ul {
                            list-style:none;
                            border-radius: 0;
                            width: 100%;
                            border: 1px solid;
                            border-color: $drop-list-border-color;
                            padding-top:0;
                            padding-bottom:0;
                            top: 150%;
                            
                            li {
                                @include to-rem(font-size, 0.75);
                                @include to-rem(padding-top, 0.625);
                                @include to-rem(padding-bottom, 0.625);
                                @include to-rem(padding-left, 0.625);
                                @include to-rem(padding-right, 1.25);
                            }
                            
                            .name-field {
                                background-color: $widget-dropdown-name-bg-color;
                                input {
                                    border:none;
                                    outline: $drop-list-border-color solid;
                                }
                            }
                            
                            .widget-selection {
                                background-color: $widget-dropdown-select-bg-color;
                                border-bottom: 1px solid;
                                border-color: $drop-list-border-color;
                            }
                            
                            
                            i {
                                float:right;
                            }
                            
                            .widget-item {
                                -webkit-transition: height 0.75s linear;
                                transition: height 0.75s linear;
                                display:none;
                                border-bottom: 1px dashed;
                                border-color: $drop-list-border-color;
                                @include to-rem(font-size, 0.875);
                                text-align:center;
                                cursor:pointer;
                                .title {
                                    width:100%;
                                    height:100%;
                                }
                                .widget {
                                    display:none;
                                }
                                
                                &:hover {
                                    background-color: $side-nav-content-color-hover;
                                }
                            }
                            
                            .last {
                                border-bottom:none;
                            }
                        }
                    }
                }
            }
        }

        /**** End Main Content ****/
        
    }
}

/**** Begin Page Body ****/