/*** Begin Page Header ****/

.site-header{
    @include to-rem(height, 3.75);
    
    .brand-logo {
        background-color:$site-header-bg-color;
        //@include to-rem(width, 6.125);
        width: 8%;
        height:100%;
        float:left;
        
        @include box-sizing();
        border-style: solid;
        @include to-rem(border-width, 0.0625);
        border-color: $side-border-color;
        
        img {
            width: 95%;
            @include to-rem(max-width, 6.125);
            @include vertical-horizontal-center;
        }
    }

    .title-bar {
        height: 100%;
        background-color:$title-bar-bg-color;
        overflow:hidden;
    

        .title-bar-content {
            height: 100%;


         .nav-button {
         }

         .nav-element-list {
/*            position: static;*/
            @include box-sizing();
            display: block;
            height: 100%;
/*            height: auto;
            float: right;
            @include to-rem(margin-top, 0);
            background: none;
            width: auto;
            @include to-rem(max-height, 2.75);
            @include to-rem(padding, 0.375 1 0.5 0);  */

            .top-nav {
                height:auto;
                @include vertical-center;
                display: block;
                float: right;

             ul {
                
                width: auto;
                height: auto;
                margin-left: 20px;
                text-align: left;
               /* @include clearfix();*/

                li {
                    list-style-type: none;
                    display: block;
                    float: left;
                    width: auto;
                    padding: 0;
                    margin: 0;
                    @include box-sizing();
                    /*@include to-rem(margin, 0 0.5);*/

                    
                    border-bottom: none;
                    background: none;
                    text-align: right;
                    padding-right: 7px;
                    padding-left: 8px;

                    border-right: solid white;
                    border-right-width: thin;

                    &:first-of-type {
                        /*display: none;*/
                    }

                    &:last-of-type {
                        margin-right: 0;
                        border-right: none;
                    }

                    a{
                        @include to-rem(font-size, 0.75);
                        @include to-rem(line-height, 1.75);
                        color: white;

                    &.active {
                        color: white;
                        background: none;

                        &:hover {
                          color: purple;
                        }
                      }

                      &.last {
                        @include to-rem(margin-right, 0);
                      }
                      }
                  }
              }
              }
              .login-panel {
                                height:auto;
                                @include vertical-center;
                                display: block;
                                float: right;


             ul {
                
                width: auto;
                height: auto;
                
                text-align: left;
                margin-left: 20px;
               /* @include clearfix();*/

                li {
                    list-style-type: none;
                    display: block;
                    float: left;
                    width: auto;
                    padding: 0;
                    @include box-sizing();
                    @include to-rem(margin, 0 0.5);

                    
                    border-bottom: none;
                    background: none;
                    text-align: right;
                   

                    a{
                        @include to-rem(font-size, 0.75);
                        @include to-rem(line-height, 1.75);
                        font-weight: bold;
                        color: white;

                    &.active {
                        color: white;
                        background: none;

                        &:hover {
                          color: purple;
                        }
                      }

                      &.last {
                        @include to-rem(margin-right, 0);
                      }
                      }
                  }
              }
              }

              
          }
        }
      }
   
}

/**** End Page Header ***/
