.sparkline-tooltip {
	@include to-rem(width, 12.75);
	position:absolute;
	top:-35.5%;
	left:18%;
	z-index: 2;

	opacity: 0;
	display:none;

	color: $tooltip-font-color;

	.tooltip-title {
		position:absolute;
		top: 7.5%;
		left: 10%;
		width: 80%;
		border-bottom: $tooltip-font-color dashed;
		border-width: 2px;
		padding-bottom: 2%;
	}

	.tooltip-content {
		position:absolute;
		top: 35%;
		left: 10%;

		.utilization-arrow {
			width: 15%;
			@include to-rem(height, 6.25);
			background: url('../assets/icons/icon-utilization-arrow.svg');
			background-repeat: no-repeat;
			float:left;
			@include to-rem(margin-right, 0.25);
		}

		.percent-utilization {
			color: $tooltip-utilization-font-color;
			@include to-rem(font-size, 1.5);
			float:left;
			width:50%;
		}

		.plain-text {
			float:left;
		}
	}
}

.doughnut-meter-tooltip-dummy {
	position:absolute;
	top: 68%;
	left: 35%;
	height: 10%;
	width: 30%;
	z-index: 2;
}

.doughnut-meter-tooltip {
	position:absolute;
	top: 65%;
	left: 20%;
	height: 10%;
	width: 33%;
	z-index: 2;
	@include to-rem(width, 12.75);
	position:absolute;
	top:-155px;
	left:-10%;

	opacity: 0;
	display:none;

	color: $tooltip-font-color;

	.content {
		position:absolute;
		top: -25%;
		left: 8%;
		@include to-rem(padding-right, 1.5);

		.pending-number {
			float:left;
			@include to-rem(font-size, 3.75);
			margin-right: 2.5%;
			@include to-rem(height, 4.5);
		}

		.pending-text {
			margin-top:10%;
			width:40%;
			@include to-rem(font-size, 1.125);
			float: left;
			text-transform: capitalize;
		}

		.pending-longer-text {
			margin-top:10%;
			width:60%;
			@include to-rem(font-size, 0.875);
			float: left;
			text-transform: capitalize;
		}

		.attention-needed {
			color: $alert-color;
		}

		.pending-sales {
			&:after {
				content: " ";
				display: block;
				clear: both;
			}
		}

		.pending-tech {
			border-bottom: thin dashed #808080;
			&:after {
				content: " ";
				display: block;
				clear: both;
			}
		}

		.item-list {
			float:left;
			ul {
				list-style:none;
				li {
					text-transform: capitalize;
				}
			}
		}
	}
}

.visible-tooltip {
	display:block;
	opacity: 1;
}

.c3-tooltip {
	font-family: $base-font-family;
	opacity: 1;

	tr {
		border: none;
	}

	td {
		border-left: none;
		@include to-rem(padding-left, 0.625);
		@include to-rem(padding-right, 0.625);
		span {
			display:none;
		}
	}

	th {
		background:$tooltip-bg-color;
		color: $tooltip-font-color;
		@include to-rem(font-size, 0.75);
		@include to-rem(padding-left, 0.625);
		@include to-rem(padding-right, 0.625);
		font-weight: normal;

		div {
			border-bottom: $tooltip-font-color dashed;
			border-width: thin;
		}
	}
}