.widget-grid{
    //border: 1px dashed #CCC;
    position: relative;
    @include to-rem(margin-bottom, 6.25);
    //background-color: $background-color;
    
    .ss-placeholder-child {
        background: transparent;
        //border: 1px dashed blue;
        position:absolute;

        box-shadow: 0 0 16px #888888;
    }
    
     .flipped {
        -ms-transform: rotateY(180deg); /* IE 9 */
        -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
        transform: rotateY(180deg);
    }
    
    .flipping {
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    
    .widget {
        @include to-rem(height, 17.5);
        //@include to-rem(width, 17.19);
        width:30.35%;
        position:absolute;
        
        /** Animation settings **/
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        /** Animation Settings **/
        
        &[data-ss-colspan="2"] {
            width:62.91%;
        }
        
        &[data-ss-colspan="3"] {
            //@include to-rem(width, 54.06);
            width:95.47%;
        }
        
        .front {
            position: absolute;
            width: 100%;
            top:0;
            // Backface visibility.
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            
            // Starting rotation about the Y-axis.
            -ms-transform: rotateY(0deg); /* IE 9 */
            -webkit-transform: rotateY(0deg); /* Chrome, Safari, Opera */
            transform: rotateY(0deg);
            
            .flip-button {
                background-image: url('../assets/icons/icon-flip-to-back.svg');
            }
        }
        
        .back {
            position:absolute;
            width:100%;
            top:0;
            // Backface visibility.
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            
            // Starting rotation about the Y-axis.
            -ms-transform: rotateY(180deg); /* IE 9 */
            -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
            transform: rotateY(180deg);
            
            .flip-button {
                background-image: url('../assets/icons/icon-flip-to-front.svg');
            }
        }
        
        .widget-header {
            width: 100%;
            @include to-rem(height, 3.438);
            background-color: $widget-header-color;
            font-weight:bold;
            color: $widget-header-font-color;
            
            .widget-label {
                @include vertical-center();
                @include to-rem(font-size, 0.75);
                //margin-left:7.5%;
                @include to-rem(margin-left, 1.25);
                float:left;
            }
            
            .widget-notification {
            }
        }
        
        .attention-needed {
            .widget-label {
                //margin-left:2.5%;
                @include to-rem(margin-left, 0.4);
            }
            
            .widget-notification {
                @include vertical-center();
                //margin-left:7.5%;
                @include to-rem(margin-left, 1.25);
                float:left;
                width: 10%;
                height: 50%;
                background-image: url('../assets/icons/icon-bar-alert.svg');
                background-repeat:no-repeat;
            }
        }

        .widget-body {
            width: 100%;
            @include to-rem(height, 14.06);
            background-color: $widget-body-color;

            img {
                //height: 100%;
                width: 100%;
                //@include vertical-horizontal-center();
            }
            
            .bar-legend {
                @include to-rem(margin-bottom, 5);
                @include to-rem(padding-top, 1);
                @include to-rem(padding-left, 0.5);
                @include to-rem(font-size, 0.75);
                li {
                    @include to-rem(margin-right, 0.625);
                    display:inline;
                }
            }
            
            .line-legend {
                @include to-rem(margin-bottom, 5);
                @include to-rem(padding-top, 1);
                @include to-rem(padding-left, 0.5);
                @include to-rem(font-size, 0.75);
                li {
                    @include to-rem(margin-right, 0.625);
                    display:inline;
                }
            }
        }
        
        .settings-button {
            @include to-rem(margin-right, 0.75);
            float:right;
            height:40%;
            @include to-rem(width, 2);
            @include vertical-center();
            background-image: url('../assets/icons/icon-settings.svg');
            background-repeat:no-repeat;
        }
        
        .flip-button {
            height:40%;
            @include to-rem(width, 2);
            float: right;
            @include vertical-center();
            background-repeat:no-repeat;
        }

        .export-button {
            height:40%;
            @include to-rem(width, 2);
            float: right;
            @include vertical-center();
            background-image: url('../assets/icons/icon-export-save.svg');
            background-repeat:no-repeat;
        }

        .add-button {
            background-color: $add-button-color;
            width: 46%;
            @include to-rem(height, 2.5);
            float: left;
            color: #FFF;
            text-transform: uppercase;
            text-align: center;
            @include to-rem(font-size, 0.75);
            font-weight: bold;

            cursor:pointer;
        }

        .button-text {
            @include vertical-center();
        }
        
        canvas{
            @include vertical-center();
            color:$overtime-widget-primary-color;
        }
        
        // Table class.
        .table-widget {
            overflow:auto;
            overflow-x:hidden;
        }
        
        // Table sorting button classes.
        .sorting, .sorting_asc, .sorting_desc{
            background:none;
        }
    }

    .expandable-widget {
        height: auto;
    }
}