.short-list-widget-content {
    @include to-rem(font-size, 0.75);
    
    .attention-needed {
        color:$table-alert-color;
    }
    
    // Open and close column.
    .details-button {
        width: 10%;
        background: url('../assets/controls/closed-arrow.svg') no-repeat;
        background-size: 25% 25%;
        background-position: center center;
    }

    th.details-button {
        background: none;
    }
    
    // Notification column.
    .action-notification {
        text-align:center;
        //width:7.5%;
        color:$table-alert-color;
        padding-left:2% !important;
    }
    
    // Name column.
    .order-number-column {
        //width: 24.2%;
        padding-left:0;
    }
    
    .table-widget-header {
        th {
            text-align:left;
            padding-left:0;
            padding-right:0;
        }
    }
    
    .orders {
        tr {
            &:hover {
                background-color: $table-extra-bg-color !important;
            }
        }
        
        .odd {
            background-color:$table-row-odd-bg-color !important;
            
            .sorting_1 {
                background-color:$table-row-odd-bg-color !important;
            }
            
            &:hover{
                background-color:$table-row-odd-bg-color !important;
            }
        }
        .even {
            background-color:$table-row-even-bg-color !important;
            
            .sorting_1 {
                background-color:$table-row-even-bg-color !important;
            }
            
            &:hover{
                background-color:$table-row-even-bg-color !important;
            }
        }
        
        td {
            text-align:left;
            padding-left:0;
            padding-right:0;
        }
    }
    
    .open {
        .details-button {
            background: url('../assets/controls/open-arrow.svg') no-repeat;
            background-size: 40% 30%;
            background-position: center center;
        }
    }
    
    .extra-details {
        @include to-rem(height, 3.375);
    }
    
    .inner-table {
        border:none !important;
        
        &:hover {
            background-color: $table-extra-bg-color !important;
        }
        
        width:100%;
        tr {
            //@include to-rem(height, 2);
            border:none !important;
            
            &:hover {
                background-color: $table-extra-bg-color !important;
            }
        }
        
        td {
            @include to-rem(padding-top, 0.0625);
            padding-bottom:0;
            border:none !important;
            
            &:hover {
                background-color: $table-extra-bg-color !important;
            }
        }
        
        text-transform: uppercase;
        
        .data-text {
            //@include vertical-center();
            @include to-rem(font-size, 0.75);
            text-transform: none;
        }
        
        .label-text {
            @include to-rem(margin-right, 0.5);
            //@include vertical-center();
            -webkit-transform: translateY(28%);
            transform: translateY(28%);
            float:left;
            @include to-rem(font-size, 0.5);
        }
        
        .column-one {
            width: 13%;
        }
        
        .order-submitted-column {
            padding-right:0;
            width: 8%;
        }
    }
}

.billing-costs-list {
    border-bottom: none !important;

    thead {
        display:none;
    }

    tbody > tr {
        background-color: transparent !important;
        @include to-rem(font-size, 0.75);
        color: $tooltip-font-color;
    }

    th {
        border-bottom: none !important;
    }

    .index-column {
        width: 0.1rem !important;
        font-weight: bold;
    }

    .linearmeter-column {

    }
}

.sorting-button {
    float: right;
    @include to-rem(font-size, 0.75);
    color: $tooltip-font-color;
    fill: $tooltip-font-color;
    padding-top: 10px;
    padding-right: 10px;

    i {
        padding-left: 5px;
    }
}

.notifications-container {
    @include to-rem(margin-left, 1);
    @include to-rem(margin-right, 1);
    @include to-rem(padding-top, 1.75);

    .notifications-list {
        // Vertical center
        /*position: relative;
        top: 50%;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);*/

        width: 100%;
        tr {
            color: $inner-table-header-font-color;

            .new-notifications-column{
                div.number-container {
                    @include to-rem(width, 1.625);
                    @include to-rem(height, 1.625);
                    text-align: center;
                    // Background circle.
                    border-radius: 50%;
                    background-color: $overview-color-tint20;
                    @include to-rem(font-size, 0.75);
                    color: #FFF;
                    font-weight: bold;
                    // Center the text.
                    @include to-rem(padding-top, 0.25);
                }
            }
            .has-new {
                div.number-container {
                    @include to-rem(width, 1.625);
                    @include to-rem(height, 1.625);
                    text-align: center;
                    // Background circle.
                    border-radius: 50%;
                    background-color: $overview-color;
                    @include to-rem(font-size, 0.75);
                    color: #FFF;
                    font-weight: bold;
                    // Center the text.
                    @include to-rem(padding-top, 0.25);
                }
            }

            .notifications-title-column{
                @include to-rem(font-size, 1);
                @include to-rem(margin-left, 0.5);
            }
            .total-notifications-column {
                @include to-rem(font-size, 1.5);
            }
        }

        td {
            @include to-rem(padding-top, 0.5);
            @include to-rem(padding-bottom, 0.5);

            border-bottom: solid 2px $notifications-border-color;
        }

        .notifications-updates {
            td {
                border-bottom: none;
            }
        }
    }
}