#widget-palette-modal {
    /*display:none;
    background-color:$widget-palette-bg-color;
    position:absolute;
    
    @include to-rem(margin-top, 6.25);
    //top:60%;
    //left:12.5%;
    
    height: 100%;
    @include to-rem(min-width, 56.63);
    max-width: 75%;
    
    margin-left:auto;
    margin-right:auto;
    
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;*/
    /*ul {
        @include to-rem(padding-top, 10);
        list-style: none;
        
        li {
            //overflow: hidden;
            @include to-rem(height, 13.75);
            @include to-rem(width, 14.06);

            .widget-header {
                display:none;
            }

            .widget-body {
                width: 100%;
                @include to-rem(height, 13.75);
                background-color: #00F;//$widget-body-color;

                img {
                    height: 100%;
                    width: 100%;
                    @include vertical-horizontal-center();
                }
            }

            svg {
                width:100%;
                height:100%;
            }
        }
    }
    
    #drop-spot {
        position:fixed;
        width:93%;
        @include to-rem(top, 2);
        @include to-rem(height, 10);
        background-color:#F00;
    }
    
    .collapsed {
        display:none;
    }*/
}
